- @messages.each do |message|
  .message{"data-message-id": "#{message.id}"}
    .upper-info
      %p.upper-info__user
        = message.user.name
      %p.upper-info__date
        = message.created_at
    %p.message__text
      = message.content
    %img{:src => "#{message.image}"}
